---
title: "About | Jacote Film | Detroit Video Production Company"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--             About Us                         -->
<!-- ============================================ -->

<section id="hero-1785">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">About Us</h1>
            <p class="cs-text">
                
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about-banner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-banner.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/about-banner.jpg" alt="filmography" width="1920" height="1200" aria-hidden="true">
    </picture>
    <div class="hero-border"></div>
</section>

<!-- ============================================ -->
<!--                About Header                  -->
<!-- ============================================ -->

<section id="sbs-1813">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about-top.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about-top.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/about-top.jpg" alt="body builder" width="700" height="666">
            </picture>
            <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
            <img class="cs-mask cs-light" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-paint-stroke.svg" alt="white splatter" width="700" height="666">
            <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
            <img class="cs-mask cs-dark" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-paint-stroke.svg" alt="white splatter" width="700" height="666">
        </div>
        <div class="cs-content">
            <h2 class="cs-title">This is Our Story</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec venenatis sem, id iaculis diam. Quisque condimentum semper quam. Vestibulum ligula elit, faucibus eget pretium vel, volutpat sed lorem. Mauris leo urna, bibendum non blandit feugiat, condimentum vitae dui. Praesent lectus sapien, finibus ut consequat vitae, mollis quis nisl. Donec egestas euismod felis, sed pretium nulla euismod pellentesque. In eu urna non eros lacinia vulputate. Donec volutpat semper luctus. Aliquam elit erat, suscipit nec dui sit amet, volutpat ultricies augue. Morbi fermentum orci at mi ultricies, ac efficitur massa pellentesque. Donec lobortis pharetra erat eget lacinia.
            </p>
            <p class="cs-text">
                Phasellus sem diam, porta eu mollis eget, accumsan ut leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean fringilla, metus vel ultrices facilisis, enim neque porttitor purus, non faucibus est ipsum congue ante. Mauris lobortis malesuada purus, ut posuere ligula lacinia sit amet. Integer id auctor nunc. Nulla viverra tincidunt pellentesque. Suspendisse molestie vestibulum fermentum. Praesent malesuada molestie dolor eget elementum. Ut eu imperdiet diam.
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="about-1451">
    <div class="cs-container">
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/jig-bio.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/jig-bio.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/team/jig-bio.jpg" alt="person" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Kenyon "Jigsaw" Pruitt</span>
                <p class="cs-text">
                    <em>Founder, Owner</em><br/>
                    Director, Actor, Editor
                </p>
                <p class="cs-text">
                    Kenyon "Jigsaw" Pruitt (born August 4, 1971) is an American film director, producer, and actor. Kenyon first came to prominence as an actor, guest-starring in several music videos, He gained attention for Directing a local film about a corrupt police officer During this time, he also filmed commercials for local Judges and lawyers. He was credited as Kardell Kenyon Pruitt in his film/music video appearances. In 2015, Pruitt left music to focus on directing, producing, and occasionally writing a variety of films and television shows. His films included Hot Pack (2016), Ten Zero Zero (2015), and King of the Streets (2018) as well as Detroit 80's (2019), the police drama Surveillance (2020), Karma (2018), A Little Girls Cry (2018), The Last Drink (2019) The romantic drama short Yasmine Hearns (2021) as well as the award-winning series The Plant (2021)
                </p>
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/kacee.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/kacee.png">
                <img loading="lazy" decoding="async" src="/assets/images/team/kacee.png" alt="person" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Kacee "36" Bridgewater</span>
                <p class="cs-text">
                    Title Here
                </p>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum rutrum libero, in congue ante tincidunt at. Aliquam erat volutpat. Cras justo erat, ultricies sit amet dolor volutpat, lobortis lacinia massa. In facilisis dui lorem, et convallis nunc accumsan et. Vestibulum vulputate euismod efficitur. Etiam non lectus in velit dignissim porttitor. Etiam tellus lorem, porta ac tristique nec, mollis eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum in semper nunc. Pellentesque lobortis auctor sem, ac placerat purus. Etiam rhoncus velit quis tortor lacinia molestie. Vestibulum eget diam et risus mattis viverra non eget risus. Cras sodales ac est a semper. Nam eros tellus, hendrerit egestas purus ac, laoreet bibendum velit. Nam finibus molestie ornare.
                </p>
                <p class="cs-text">
                    Nullam a neque elementum, aliquet lectus nec, interdum dolor. Sed nunc dui, gravida ut lorem nec, feugiat malesuada ligula. Aenean eros odio, ornare dictum scelerisque sed, bibendum ut felis. Curabitur finibus massa et lectus tristique cursus. Aenean nec erat nisi. Vestibulum ac quam eget elit bibendum placerat ac non sem. Curabitur lacus massa, consequat eget quam scelerisque, scelerisque dignissim ipsum.
                </p>
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/goldie.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/goldie.png">
                <img loading="lazy" decoding="async" src="/assets/images/team/goldie.png" alt="person" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Donissa "Goldie" Stewart</span>
                <p class="cs-text">
                    Title Here
                </p>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum rutrum libero, in congue ante tincidunt at. Aliquam erat volutpat. Cras justo erat, ultricies sit amet dolor volutpat, lobortis lacinia massa. In facilisis dui lorem, et convallis nunc accumsan et. Vestibulum vulputate euismod efficitur. Etiam non lectus in velit dignissim porttitor. Etiam tellus lorem, porta ac tristique nec, mollis eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum in semper nunc. Pellentesque lobortis auctor sem, ac placerat purus. Etiam rhoncus velit quis tortor lacinia molestie. Vestibulum eget diam et risus mattis viverra non eget risus. Cras sodales ac est a semper. Nam eros tellus, hendrerit egestas purus ac, laoreet bibendum velit. Nam finibus molestie ornare.
                </p>
                <p class="cs-text">
                    Nullam a neque elementum, aliquet lectus nec, interdum dolor. Sed nunc dui, gravida ut lorem nec, feugiat malesuada ligula. Aenean eros odio, ornare dictum scelerisque sed, bibendum ut felis. Curabitur finibus massa et lectus tristique cursus. Aenean nec erat nisi. Vestibulum ac quam eget elit bibendum placerat ac non sem. Curabitur lacus massa, consequat eget quam scelerisque, scelerisque dignissim ipsum.
                </p>
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/unclep.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/unclep.png">
                <img loading="lazy" decoding="async" src="/assets/images/team/unclep.png" alt="person" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Diarra "Uncle P" Collazo</span>
                <p class="cs-text">
                    Title Here
                </p>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum rutrum libero, in congue ante tincidunt at. Aliquam erat volutpat. Cras justo erat, ultricies sit amet dolor volutpat, lobortis lacinia massa. In facilisis dui lorem, et convallis nunc accumsan et. Vestibulum vulputate euismod efficitur. Etiam non lectus in velit dignissim porttitor. Etiam tellus lorem, porta ac tristique nec, mollis eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum in semper nunc. Pellentesque lobortis auctor sem, ac placerat purus. Etiam rhoncus velit quis tortor lacinia molestie. Vestibulum eget diam et risus mattis viverra non eget risus. Cras sodales ac est a semper. Nam eros tellus, hendrerit egestas purus ac, laoreet bibendum velit. Nam finibus molestie ornare.
                </p>
                <p class="cs-text">
                    Nullam a neque elementum, aliquet lectus nec, interdum dolor. Sed nunc dui, gravida ut lorem nec, feugiat malesuada ligula. Aenean eros odio, ornare dictum scelerisque sed, bibendum ut felis. Curabitur finibus massa et lectus tristique cursus. Aenean nec erat nisi. Vestibulum ac quam eget elit bibendum placerat ac non sem. Curabitur lacus massa, consequat eget quam scelerisque, scelerisque dignissim ipsum.
                </p>
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/nika.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/nika.png">
                <img loading="lazy" decoding="async" src="/assets/images/team/nika.png" alt="person" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Nika Donshe</span>
                <p class="cs-text">
                    Title Here
                </p>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum rutrum libero, in congue ante tincidunt at. Aliquam erat volutpat. Cras justo erat, ultricies sit amet dolor volutpat, lobortis lacinia massa. In facilisis dui lorem, et convallis nunc accumsan et. Vestibulum vulputate euismod efficitur. Etiam non lectus in velit dignissim porttitor. Etiam tellus lorem, porta ac tristique nec, mollis eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum in semper nunc. Pellentesque lobortis auctor sem, ac placerat purus. Etiam rhoncus velit quis tortor lacinia molestie. Vestibulum eget diam et risus mattis viverra non eget risus. Cras sodales ac est a semper. Nam eros tellus, hendrerit egestas purus ac, laoreet bibendum velit. Nam finibus molestie ornare.
                </p>
                <p class="cs-text">
                    Nullam a neque elementum, aliquet lectus nec, interdum dolor. Sed nunc dui, gravida ut lorem nec, feugiat malesuada ligula. Aenean eros odio, ornare dictum scelerisque sed, bibendum ut felis. Curabitur finibus massa et lectus tristique cursus. Aenean nec erat nisi. Vestibulum ac quam eget elit bibendum placerat ac non sem. Curabitur lacus massa, consequat eget quam scelerisque, scelerisque dignissim ipsum.
                </p>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'sections/cta.html' %}

{% endblock %}