---
title: "Filmography | Jacote Film | Detroit Video Production Company"
description: "Meta description for the page"
permalink: "/filmography/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/filmography.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--             Upcoming  Projects               -->
<!-- ============================================ -->

<section id="upcomingprojects">
    <div class="cs-container-title">        
        <h2>
            UPCOMING PROJECTS
        </h2>
    </div>

    <!-- The Plant on Strike -->
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">The Plant: On Strike</h2>
            <p class="cs-text">
                At The Plant, no one takes the job too seriously. From hilarious on-the-clock antics to after-hour drama, it's all fun and games until the boss shows up, or the Machine breaks down. Whether it's dodging supervisors, pulling pranks, or navigating wild workplace romances, Co-workers who act like family, argue like enemies, flirt like lovers, and joke like best friends.
            </p>
            <p class="cs-text">
                <strong>Director:</strong> Kenyon "Jigsaw" Pruitt<br />
                <br />
                <strong>Writers:</strong>  Armond Atkins, Nika Donshe, Maurice Farr<br />
                <br />
                <strong>Cast:</strong> Will F. Allen, Armond Atkins, Kehende Blue<br />
            </p>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/the-plant-on-strike.png">
                <source media="(min-width: 601px)" srcset="/assets/images/the-plant-on-strike.png">
                <img loading="lazy" decoding="async" src="/assets/images/the-plant-on-strike.png" alt="The Plant on Strike" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

    <div class="jf-divider">
        <img alt="Watch on Tubi" loading="lazy" src="/assets/images/divider.png">
    </div>

<!-- ============================================ -->
<!--             Current Projects                -->
<!-- ============================================ -->

<section id="currentprojects">
    <div class="cs-container-title">        
        <h2>
            CURRENT PROJECTS
        </h2>
    </div>

    <!-- Porch Bandtiz -->
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">Porch Banditz (2026)</h2>
            <p class="cs-text">
                Best friends Max and Jake are forced to reinvent themselves after being fired from their dull 9-to-5 jobs. Their solution? Becoming porch pirates, snatching packages off doorsteps for laughs and quick cash. But when they accidentally steal the wrong package, chaos ensues. What follows is a hilarious misadventure as the duo scrambles to fix their biggest mistake yet. Packed with laughs, surprises, and outrageous moments, this comedy takes porch piracy to a whole new level.
            </p>
            <p class="cs-text">
                <strong>Director:</strong> Lamar Bozeman, Kacee Bridgewater, Kenyon "Jigsaw" Pruitt<br />
                <br />
                <strong>Writers:</strong>  Willie Cook<br />
                <br />
                <strong>Cast:</strong> Julian "Woodrow" Brandom, Duce Anderson, Nathaniel Chase Young<br />
            </p>
            <a href="https://tubitv.com/movies/100059236/porch-banditz">
                <img alt="Watch on Tubi" loading="lazy" src="/assets/images/tubi.png">
            </a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/porch-banditz.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/porch-banditz.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/porch-banditz.jpg" alt="The Plant on Strike" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>


    <div class="divider-container">
        <hr class="divider">
    </div>


    <!-- Black Trojan -->
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">Black Trojan (2025)</h2>
            <p class="cs-text">
                Detroit becomes a war zone as rival crews collide. With dirty cops and betrayal at every turn, loyalty is dead and money is everything.
            </p>
            <p class="cs-text">
                <strong>Director:</strong> Kenyon "Jigsaw" Pruitt<br />
                <br />
                <strong>Writers:</strong> Kross Coats<br />
                <br />
                <strong>Cast:</strong> Aaron Reign Bennett, Kacee Bridgewater, Kross Coats<br />
            </p>
            <a href="https://tubitv.com/movies/100054443/black-trojan">
                <img alt="Watch on Tubi" loading="lazy" src="/assets/images/tubi.png">
            </a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Black-Trojan.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Black-Trojan.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Black-Trojan.jpg" alt="The Plant on Strike" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>


    <div class="divider-container">
        <hr class="divider">
    </div>


    <!-- Blue Ice -->
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">Blue Ice (2024)</h2>
            <p class="cs-text">
                4 Female Thieves Angaleec, Isabelle, Gloria, and Liyah set out to steal the largest diamond in the world, The South African Blue Diamond valued at $500 million which makes it The Largest Diamond heist of the century but it wasn't an easy task dirty cops, backstabbing, and betrayal mixed with greed created the recipe for mayhem and destruction.
            </p>
            <p class="cs-text">
                <strong>Director:</strong> Kacee Bridgewater, Kenyon Jigsaw Pruitt<br />
                <br />
                <strong>Writers:</strong> Donissa Stewart<br />
                <br />
                <strong>Cast:</strong> Tinina Dunbar, Angela Hill, Chelsea Smith<br />
            </p>
            <a href="https://tubitv.com/es-us/movies/100019749/blue-ice">
                <img alt="Watch on Tubi" loading="lazy" src="/assets/images/tubi.png">
            </a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/blue-ice.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/blue-ice.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/blue-ice.jpg" alt="The Plant on Strike" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>


    <div class="divider-container">
        <hr class="divider">
    </div>


    <!-- The Coney -->
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">The Coney (2023)</h2>
            <p class="cs-text">
                Neighborhood nice guy Diontay (Tay) Wilson is thrust into an uncomfortable situation after witnessing the murder of his estranged lover in his workplace, the neighborhood Coney Island Restaurant Because of his tumultuous relationship with the deceased party, Diontay is considered a suspect by the police as well as the family of the deceased and commits all of his efforts to clear his name so he can pursue his dream of moving away to college all while under the watchful eye of the real killer.
            </p>
            <p class="cs-text">
                <strong>Director:</strong> Kenyon Jigsaw Pruitt<br />
                <br />
                <strong>Writers:</strong> Maurice Farr<br />
                <br />
                <strong>Cast:</strong> Duce Anderson, Kehende Blue, Julian "Woodrow" Brandom
<br />
            </p>
            <a href="https://tubitv.com/es-us/movies/100001977/the-coney">
                <img alt="Watch on Tubi" loading="lazy" src="/assets/images/tubi.png">
            </a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/the-coney.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/the-coney.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/the-coney.jpg" alt="The Coney" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>



</section>

    {% include 'sections/cta.html' %}

{% endblock %}