---
title: "Filmography | Jacote Film | Detroit Video Production Company"
description: "Meta description for the page"
permalink: "/services/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--             Services Hero                    -->
<!-- ============================================ -->

<section id="hero-1785">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Services</h1>
            <p class="cs-text">
                
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/services-hero.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/services-hero.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/services-hero.jpg" alt="filmography" width="1920" height="1200" aria-hidden="true">
    </picture>
    <div class="hero-border"></div>
</section>


    {% include 'sections/cta.html' %}

{% endblock %}