// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.less
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1785 {
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) (16/16rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: (48/16rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: (750/16rem);
        }

        .cs-title {
            /* 49px - 84px */
            font-size: clamp(3.0625rem, 6vw, 5.25rem);
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: (8/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (200/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-graphic-dark {
            display: none;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 100% 30%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #hero-1785 {
        /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-1451 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (944/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 6vw, 6.25rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 100%;
            /* padding left and right added on tablet */
            padding: 0 0 (64/16rem) 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            position: relative;
            z-index: 1;
        }

        .cs-info {
            width: 100%;
            /* 16px - 48px */
            padding: 0 clamp(1rem, 5vw, 3rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
            z-index: 1;

            &:before {
                /* grey background, moves to the cs-content at tablet */
                content: '';
                width: 100%;
                height: 85%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-header {
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            /* 12px - 24px */
            margin-bottom: 1rem;
            color: var(--headerColor);
            display: block;
        }
    
        .cs-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            max-width: (700/16rem);
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (0/16rem);
            }
        }

        .cs-picture {
            /* width and height changes at tablet */
            width: 85%;
            max-width: (350/16rem);
            height: (330/16rem);
            display: block;
            position: relative;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* positions the top of the image to line up wiht the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-floater {
            /* 100px - 192px */
            width: clamp(6.25rem, 15vw, 12rem);
            height: auto;
            display: none;
            position: absolute;
            right: (50/16rem);
            top: (-75/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about-1451 {
        .cs-info {
            flex-direction: row;
            padding: 0;

            &:nth-of-type(even) {
                .cs-content {
                    padding-left: (36/16rem);
                    padding-right: (20/16rem);
                    &:before {
                        left: 0;
                        right: auto;
                    }
                }

                .cs-picture {
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
            }

            &:before {
                display: none;
            }
        }

        .cs-content {
            /* 32px - 148px */
            padding: clamp(2rem, 10vw, 9.375rem) (36/16rem) (64/16rem) (20/16rem);

            &:before {
                /* grey background */
                content: '';
                width: 120%;
                height: 100%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            /* width and height changes again on larger desktop */
            width: 38%;
            max-width: (260/16rem);
            /* 260px - 348px */
            height: clamp(16.25rem, 36vw, 21.75rem);
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #about-1451 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-info {
            align-items: stretch;
        }

        .cs-picture {
            height: auto;
            min-height: (696/16rem);
            width: (522/16rem);
            max-width: (522/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Larger Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #about-1451 {
        .cs-info {
            &:nth-of-type(even) {
                .cs-picture {
                    margin-left: 0;
                }
            }
        }

        .cs-picture {
            margin-left: (-88/16rem);
        }
    }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1813 {
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (16/16rem);
            column-gap: (12/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: (48/16rem);
            height: (48/16rem);
            margin: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 2vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-li-text {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:~"min(2.2vw, .70rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (643/16em);
            height: (608/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            min-width: (1200/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1813 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:~"min(1.1vw, 1rem)";
            flex: none;

            &:before {
                display: block;
            }
        }

        .cs-content {
            width: 51%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-1813 {
        .cs-image-group {
            font-size: inherit;
        }

        .cs-li {
            flex-direction: row;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #sbs-1813 {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 35px;
    }
}
                                