// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1591 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (48/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size:~"min(1.959vw, .745em)";
            width: (630/16em);
            /* we set a minimum height so it never gets smaller than this value */
            min-height: (628/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
            width: (413/16em);
            height: 79.617834%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-picture2 {
            width: (413/16em);
            height: 44.585987%;
            bottom: 0;
            right: 0;
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1591 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
            padding: (60/16rem) 0;
            /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
            align-self: center;
        }

        .cs-image-group {
            font-size:~"min(1.2vw, 1em)";
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#services-2437 {
		padding: var(--sectionPadding);
        background-color: #080808;
        position: relative;
        z-index: 1;

		.cs-container {
			width: 100%;
			/* changes to 1280px at tablet */
			max-width: (420/16rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-title {
			width: 100%;
			max-width: 25ch;
			margin: 0;
            color: var(--bodyTextColorWhite);
            font-size: 75px;
		}

        .cs-text {
            margin-top: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			/* 16px - 20px */
			gap: clamp(1rem, 1.9vw, 1.25rem);
		}

		.cs-item {
			list-style: none;
			width: 100%;
			grid-column: span 12;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 1;

            &:hover {
                .cs-border {
                    opacity: 1;
                }
            }
		}

		.cs-link {
			width: 100%;
			height: 100%;
			text-decoration: none;
			padding: (24/16rem) clamp((16/16rem), 2.6vw, (20/16rem));
			background-color: #010104;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: (20/16rem);
            position: relative;
            z-index: 2;
		}

		.cs-picture {
			width: 100%;
			height: 100vw;
            max-height: (420/16rem);
			display: block;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.cs-h3 {
			font-size: (20/16rem);
			line-height: 1.2em;
			text-align: center;
			font-weight: 700;
			margin: 0;
			color: var(--bodyTextColorWhite);
			transition: color 0.3s;
		}

		.cs-item-text {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-align: left;
			margin: 0;
			color: var(--bodyTextColorWhite);
            opacity: .8;
		}

        .cs-border {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity .3s;
        
            &:before {
                content: '';
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        
            &:after {
                content: '';
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        
        .cs-border1 {
            /* top left border */
            &:before {
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, var(--primary) 0%, rgba(0,0,0,0) 78%);
            }
        
            &:after {
                width: 1px;
                height: 100%;
                background: linear-gradient(to bottom, var(--primary) 0%, rgba(0,0,0,0) 78%);
            }
        }
        
        .cs-border2 {
            &:before {
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, rgba(0,0,0,0) 22%, var(--primary) 100%);
                top: auto;
                bottom: 0;
            }
        
            &:after {
                width: 1px;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 22%, var(--primary) 100%);
                left: auto;
                right: 0;
            }
        }        

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: .08;
                /* Makes img tag act as a background image */
                object-fit: cover;
                z-index: -2;
            }
        }
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#services-2437 {
		.cs-container {
			max-width: (1280/16rem);
		}

		.cs-item {
			grid-column: span 6;
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#services-2437 {
		.cs-item {
            grid-column: span 3;
			&:hover {
				&:before {
					opacity: 1;
				}

				.cs-h3 {
					color: var(--primary);
				}
			}
		}
	}
}
                                